    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">&nbsp;&nbsp;Ventura Design Instag<img src="/images/Instagram-icon22x22.png" style="float:left;valign:center;"></a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav" style="float:right;">
            <li><%= link_to "", profiles_path, class: "fa fa-search fa-5"  %></li>
            <li><%= link_to "", new_post_path, class: "fa fa-comment-o fa-5" %></li>

            <% if user_session %>
            <li><%= link_to "", edit_user_registration_path, class: "fa fa-user-o fa-5" %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            <% else %>
             <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>